@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Learning Project</h1>
    
</div>
<div class="row">
    <div class="col-md-4">
        <h2>
            Welcome
        </h2>
        <p>
            This is the Leaning Project.
        </p>
    </div>

    <div class="col-md-4">
        <h2>
            Teste
        </h2>
        <p>
            This is the Leaning Project.
            <a href="Index"></a>
        </p>
    </div>

    <div class="col-md-4">
        <h2>
            Be Humble
        </h2>
        <p>
            This is the Leaning Project.
            <a href="Index"></a>
        </p>
    </div>
</div>
