@model LearningProject.Models.User

@{
    Layout = null;
}
@{
    ViewData["Title"] = "Login";
}
<div class= "center">
<form asp-controller="Users" asp-action="Authenticate" class="form-inline d-md-table-row mt-md-0">
    <input asp-for="Username" class="form-control" type="text" placeholder="Username" aria-label="Username">
    <input asp-for="Password" class="form-control" type="password" placeholder="Password" />
    <button class="btn btn-outline-success my-5 my-sm-0" type="submit">Login</button>
</form>
