@model LearningProject.Models.User


@{
    ViewData["Title"] = "Login";
}

@* TENTATIVA 1
    <div class="bg-light">
        <div class="container d-flex h-100" style ="text-align:center">

        </div>
    </div>
*@


    <div class="container">
        <div class="col-sm-12 my-auto">
            <form asp-controller="User" asp-action="Authenticate">

                <input asp-for="Username" type="text" placeholder="Username" aria-label="Username">
                <input asp-for="Password" type="password" placeholder="Password" />
                <button class="btn btn-outline-success my-5 my-sm-0" type="submit">Login</button>
            </form>
        </div>
    </div>

